<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MEXQAppPrConnectionString" connectionString="Data Source=MEXQ-SERVER4;Initial Catalog=MEXQAppPr;User ID=sa;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="MEXQAppPrConnectionString2" connectionString="Data Source=MEXQ-SERVER4;Initial Catalog=MEXQAppPr;Persist Security Info=True;User ID=sa;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>